<div class="Container">
    <div class="Container cabecera1">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark navbar1">
          <a class="navbar-brand" href="/">GENERADOR DE CONTRATOS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="/about">ABOUT <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="/contact">CONTACT</a>
            </div>
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link active" href="#">Login <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">Register</a>
            </div>
          </div>

        </nav>
    </div>
