<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inicio</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="/css/Contratos.css">
  <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="/font-awesome/css/all.css">
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/jquery-3.5.0.min.js"></script>
  <script src = "/js/Contratosjs.js"> </script>

  </head>
  <body>
    {{>navigation}}

<main class="container p-2">
  {{{body}}}
</main>



  </body>
</html>
